<h1>Create Appointment</h1>
<div class="row">
    <form method="post" class="col s12">

        <div class="row">
            <div class="input-field col s12">
                <input id="title" name="title" type="text" class="validate">
                <label for="email">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input id="idappointment" name="idappointment" type="number" class="validate">
                <label for="idappointment">ID Appointment</label>
            </div>
            <div class="input-field col s3">
                <input id="idclient" name="idclient" type="number" class="validate">
                <label for="idclient">ID client</label>
            </div>
            <div class="input-field col s3">
                <input id="idemployee" name="idemployee" type="number" class="validate">
                <label for="idemployee">ID employee</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="date" name="date" type="date" class="validate">
                <label for="date">Date</label>
            </div>
        </div>

        <button type="submit" class="waves-effect waves-light btn">Create</button>
    </form>
</div>
