<h1>Create Client</h1>
<div class="row">
    <form method="post" class="col s12">

        <div class="row">
            <div class="input-field col s3">
                <input id="idclient" name="idclient" type="number" class="validate">
                <label for="idclient">ID</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="firstName" name="firstName" type="text" class="validate">
                <label for="firstNamee">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="lastName" name="lastName" type="text" class="validate">
                <label for="lastName">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="address" name="address" type="text" class="validate">
                <label for="address">Address</label>
            </div>
        </div>

        <button type="submit" class="waves-effect waves-light btn">Create</button>
    </form>
</div>
